
    *{
        box-sizing: border-box;
    }
    body{
        background-color: #000;
        color: beige;
    }
      
.child1,.child2, .child3, .child4, .child5, .child6, .child7, .child8, .child9{
    border: 3px solid blue;
    padding: 20px;
    margin: 10px;


}
.class1{
    display: grid;
    grid-template-areas: 
    "header Nav Section Section"
    "header aside Article Header1"
    "av1 aside Article Header1"
    "av1 Main footer Header1"
    "av1 Main footer Header1";
}
.child1{
    grid-area: header;
    background-color: red;
}
.child2{
    grid-area: Nav;
    background-color: skyblue;
}
.child3{
    grid-area: Section;
    background-color: burlywood;
}
.child4{
    grid-area: Main;
    background-color: red;
}
.child5{
    grid-area: aside;
    background-color: bisque;
    color: #000;
}
.child6{
    grid-area: footer;
    background-color: skyblue;
}
.child7{
    grid-area: Article;
    background-color: antiquewhite;
    color: #000;
}
.child8{
    grid-area: Header1;
    background-color: #FF000D;
}
.child9{
    grid-area: av1;
    background-color: antiquewhite;
    color: #000
}




/* Headding part start*/
    @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 7s infinite alternate;
	stroke-width: 2;
	stroke: #FF000D;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(42,160,83,0); stroke: rgba(255,0,13,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(42,160,83,0); stroke: rgba(255,0,13,1); }
	80%  {fill: rgba(42,160,83,0); stroke: rgba(255,0,13,1); stroke-width: 3; }
	100% {
		fill: rgba(42,160,83,1); stroke: rgba(255,0,13,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: transparent};
/* Headding part end  */